#block3 {
  width: 80%;
  margin: 10% auto;
  position: relative;
  min-height: 50vh;
  display: flex;
  background-color: rgb(40, 40, 43);
  justify-content: space-around;
  text-align: center;
}

p {
  font-size: 1.8rem;
}
p:nth-child(1) {
  font-size: 2.5rem;
}
span {
  color: #32c0a3;
}
#car-image {
  width: 25%;
  height: 25%;
  position: relative;
  margin-top: 100px;
  border: 1px solid #32c0a3;
  border-radius: 10px;
}
footer {
  position: fixed;
  bottom: 0;
  height: 10%;
  background-color: rgb(40, 40, 43);
  width: 40%;
  box-shadow: 0px 8px 16px rgba(0, 255, 255, 0.5),
    5px -5px 16px rgba(0, 255, 255, 0.5);
  border-radius: 0 2rem 2rem 0;
}
footer a {
  color: #32c0a3;
  text-decoration: none;
  font-size: 2rem;
}
footer h2 span {
  font-size: 2.5rem;
  font-weight: bold;
  margin-right: 10px;
}
